.container
  .jumbotron
    h1 GenieKart
    p Welcome to GenieKart. Genie brings a new way of shopping with compared prices

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-products'")
    .col-md-6
      div(ng-include="'/partials/main/new-products'")
